{% extends 'base.html.twig' %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background: #333">
        <div class="container">
            {% if results is not empty %}
                <h1 class="text-center" style="color: #fff;">Query "{{ app.request.get('form').query }}"</h1>
                <h2 class="text-center" style="color: #fff;">Found {{ results.hits.total }} products in {{ results.took }} ms</h2>
            {% else %}
                <h1 class="text-center" style="color: #fff;">Search for products you want!</h1>
            {% endif %}

            {{ form_start(form) }}
            <div class="col-md-offset-3 col-md-6 text-center">
                {{ form_widget(form.query, {'attr': {'placeholder': 'Type query here', 'class': 'form-control'}}) }}
                <br/>
                {{ form_widget(form.search, {'attr': {'class': 'btn btn-info'}}) }}
            </div>

                {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        {% if results is not empty %}
            <div class="row text-center">
                <ul class="pagination">
                    {% for page, value in paginator %}
                        <li><a href="{{ path('products_search', {page: page, form: app.request.query.get('form')}) }}">{{ value }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            {% for result in results.hits.hits %}
                {% if loop.index == 1 %}
                    <div class="row">
                {% endif %}
                    <div class="col-md-3 text-center">
                        <h3>{{ result._source.title }}</h3>
                        {% if result._source.price is defined %}
                            <h4>{{ result._source.price }}$</h4>
                        {% endif %}
                        {% if result._source.price is defined %}
                            <img src="{{ result._source.img }}" alt="{{ result._source.title }}" />
                        {% endif %}
                    </div>
                    {% if loop.index % 4 == 0 %}
                        </div>
                        <div class="row">
                    {% endif %}
            {% endfor %}
        {% endif %}
    </div> <!-- /container -->
{% endblock %}